p.desc {
  color: var(--c-text-sub);
  font-size: 14px;
  margin-top: -20px !important;
}

:not(pre) > code {
  font-family: "ui-monospace", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation-Mono", "Courier-New", monospace;
  font-size: 0.875em;
  font-weight: 600;
  color: var(--c-text);
  background: transparent;
  padding: 0;
  border-radius: 0;
}

:not(pre) > code::before,
:not(pre) > code::after {
  content: "`";
}

p a code {
  font-weight: 600;
}

p a code::before,
p a code::after {
  color: var(--c-text);
}

/*滚动条 start*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(63, 76, 96, 0.7);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(63, 76, 96, 1);
}